<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de IMC</title>
</head>
<body>
    <h1>Comenzado o projeto com flask</h1>
<div class="container">
    <form method="POST" action="/imc">
        <div class="mb-1">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
        <div class="mb-1">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone">
        </div>
        <div class="mb-1">
            <label for="peso" class="form-label">Peso</label>
            <input type="text" class="form-control" id="peso" name="peso">
        </div>
        <div class="mb-1">
            <label for="altura" class="form-label">Altura</label>
            <input type="text" class="form-control" id="altura" name="altura">
        </div>

        <button type="submit" class="btn btn-primary">Calcular IMC</button>
    </form>
    {% if imc %}
    <h2>Resultado do IMC:</h2>
    <p>Seu IMC é: {{ imc }}</p>
    <p>{{ interprecao }}</p>
    {% endif %}

    {% if error %}
        <p>{{error}}</p> 
    {% endif %}
</div>
    
</body>
</html>